

$primary: #fd43b3;
$brand: rgb(229, 179, 192);
$header: #909090;
$theme-colors: (
        "primary":    $primary,
"header": $header,
     /*   "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        */
);

